/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* h1{
  text-align: center;
} */
/* .btn{
  margin-left:35.6rem;
}

.btn button{
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  color: #fff;
  background-color: rgb(1, 6, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
} */
